@model IEnumerable<TiendaWeb.Mvc.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(model => item.Codigo)
                </td>
            <td>
                @Html.DisplayFor(model => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(model => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-Codigo="@item.Codigo">Edit</a> |
                    <a asp-action="Details" asp-route-Codigo="@item.Codigo">Details</a> |
                    <a asp-action="Delete" asp-route-Codigo="@item.Codigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
